<div class="container">
  <% if params[:user_id].present? && current_user.admin? && params[:user_id].to_i != current_user.id %>
    <h2><%= @user.email %></h2>
  <% end %>
  <% @lists.each do |list| %>
    <div class="panel panel-primary">
      <div class="panel-body">
        <%= link_to list.title, list_path(list) %>
        <% if not_joined?(list) %>
          <%= link_to "Join", user_list_join_path(current_user, list), method: :post, class: 'btn btn-primary pull-right' %>
        <% end %>
      </div>
      <div class="panel-footer">
        <% if list.present? %>
          <%= time_left_until_due(list.due_date) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
