<div class="container">
  <% @lists.each do |list| %>
    <div class="panel panel-primary">
      <div class="panel-body">
        <%= link_to list.title, list_path(list) %>
      </div>
      <div class="panel-footer">
        <% if list.present? %>
          <%= list.time_left %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
