<h1>My Created Lists</h1>
<div class="container">
  <% if params[:user_id].present? && current_user.admin? && params[:user_id].to_i != current_user.id %>
    <h2><%= @user.email %></h2>
  <% end %>
  <% if @lists.empty? %>
    <h3>You didn't create any lists yet.</h3>
  <% else %>
    <%= render 'shared/collections', collection: @lists %>
  <% end %>
</div>
