<h1>My Created Lists</h1>
<div class="container">
  <% if params[:user_id].present? && current_user.admin? && params[:user_id].to_i != current_user.id %>
    <h2><%= @user.email %></h2>
  <% end %>
  <%= render 'shared/lists', collection: @lists %>
</div>
