<% if collection.empty? %>
  <h3>No lists have been created yet.</h3>
<% else %>
  <% collection.each do |list| %>
    <div class="panel panel-primary">
      <div class="panel-body">
        <%= link_to list.title.titleize, list_path(list) %>
      </div>
      <div class="panel-footer">
        <% if list.present? %>
          <%= time_left_until_due(list.due_date) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
