body {
  font-size: 15px;
  background: white url(/assets/yield-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
}

.yield-container {
  margin-top: 8rem;
  min-height: 50rem;
}

.btn-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.element-inline {
  display: inline;
}

button.element-inline {
  float: right;
}

.object-errors {
  padding-left: 5rem;
}
