// webkit-font-smoothing added to fixed font display issues within Safari and other browsers
body {
  font-size: 15px;
  background: white url(asset-path("yield-background.png")) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
}

.carousel-div {
  margin: 5rem 0;
}

nav a {
  -o-transition:color .2s ease-out,  .2s ease-in;
  -ms-transition:color .2s ease-out,  .2s ease-in;
  -moz-transition:color .2s ease-out,  .2s ease-in;
  -webkit-transition:color .2s ease-out,  .2s ease-in;
  transition: .2s ease-out,  .2s ease-in;
}

img.welcome-image {
  width: 800px;
  height: 450px !important;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
}

h1, .panel > * {
  font-family: 'Inika', serif;
}

h1.title > span, #myFooter .logo, title, .navbar-brand {
  font-family: 'Permanent Marker', cursive;
}

.navbar-brand {
  font-size: 3rem;
}

.add-btn {
  color: white;
  background: #3072ab;
  -o-transition:color .4s ease-out, background 0.2s ease-in;
  -ms-transition:color .4s ease-out, background 0.2s ease-in;
  -moz-transition:color .4s ease-out, background 0.2s ease-in;
  -webkit-transition:color .4s ease-out, background 0.2s ease-in;
  transition: .4s ease-out, background 0.2s ease-in;
  margin: 4rem auto;
  font-size: 4rem;
  width: 70px;
  height: 70px;
  line-height: 1.25;
  display: block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 0px 25px #888888;
}

.add-btn:hover {
  color: white;
  background: #56b156;
}


.yield-container {
  margin-top: 6em;
  min-height: 60em;
}

.element-inline {
  display: inline;
  padding: 1rem;
  margin-right: 2rem;
}

button.close.element-inline {
  float: right;
}

.object-errors {
  padding-left: 5rem;
}

.form-explanation {
  font-size: 1.25rem;
}

.btn.btn-lg.btn-block, .btn-forgot-pass {
  width: auto;
}

.btn-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.main-login {
  background-color: rgba(239,239,239, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  max-width: 700px;
  min-width: 495px;
  padding: 4em;
  border: 1px solid black;
  border-radius: 40px;

  @media screen and (max-width: 767px) {
    margin: 0 15px;
  }
}

// bootstrap toggle switches
.toggle {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
