#global-search-div {
  padding: 10px 15px;
  display: inline-block;
}

@media screen and (min-width: 900px) {
  #global-search-div {
    width: 480px;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  #global-search-div {
    width: 700px;
    display: block;
  }
}
