// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-group {
  margin: 2em;
}

#clear-list-date {
  margin: 3px 0;
  line-height: 0.3;
}

.join-btn {
  width: 80px;
}
