<h1>Hey, %recipient.name%,</h1>
<p>
  A new item was added to <%= link_to @item.list.title.titleize, list_url(@item.list) %>
  on <%= @item.created_at %> which you are collaborating on,
  The details are as follows:<br>
  Member: <%= link_to @item.list.user.email, user_url(@item.list.user) %><br>
  Item: <%= link_to @item.title.titleize, list_item_url(@item.list, @item) %>.<br>
</p>
