<footer id="myFooter" class="navbar navbar-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="<%= root_path %>">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 info">
                    <h5>Information</h5>
                    <p> LystSync lets you meet up with friends, organize together by setting goals, deadlines, and expections to let you get more work done and less worrying. </p>
                </div>
            </div>
        </div>
        <div class="second-bar">
           <div class="container">
                <h2 class="logo"><a href="<%= root_path %>"> LystSync </a></h2>

                <div class="social-icons">
                    <a href="https://github.com/goldenhub77" target="_blank" class="github"><i class="fa fa-github"></i></a>
                    <a href="https://linkedin.com/in/sguerri" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer>
